
.banner-image{
    max-height: 804px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.4;
        top:0;
        left:0;
    }
    img{
        min-width: 100%;
        height: 804px;
        object-fit: cover;
    }
}
.sec-banner{
    position: relative;
    margin-bottom: 64px;
    z-index: 1;
    .slider-dots{
        top: 44px;
        left: 60px;
    }
    .slider-arrows{
        top: 44px;
        left: 141px;
    }
}
.banner-content{
    position: absolute;
    bottom: 63px;
    left: 0;
    width: 100%;
    z-index: 5;
    .container{
        display: flex;
        justify-content: space-between;
    }
}
.banner-title{
    max-width: 706px;
    margin-top: -10px;
}
.banner-sub-title{
    max-width: 274px;
}
.sec-welcome{
    margin-bottom: 73px;
    .title-h3{
        margin-bottom: 213px;
    }
    .description{
        max-width: 1034px;
    }
}
.sec-our-work{
    background-color: white;
    padding: 109px 0 131px;
    margin-bottom: 120px;
    h3{
        margin-bottom: -22px;
    }
    .work-content{
        img{
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        .image{
            margin-bottom: 39px;
        }
        h4{
            margin-bottom: 2px;
            padding-left: 5px;
        }
        a{
            padding-left: 5px;
            text-decoration: underline;
        }
    }
    .work-1{
        padding-right: 143px;
        margin-bottom: 19px;
    }
    .work-1-content{
        max-width: 858px;
        margin-left: auto;
        margin-right: 0;
        .image{
            max-height: 540px;
        }
        img{
            height: 540px;
        }
    }
    .work-2{
        justify-content: space-between;
        margin-bottom: 48px;
        margin-right: -20px;
        .col-text{
            max-width: 416px;
            padding: 0 15px;
            align-items: flex-end;
            display: flex;
            padding-bottom: 108px;
        }
        .col-post{
            max-width: 541px;
        }
        .image{
            max-height: 540px;
        }
        img{
            height: 540px;
        }
    }
    .work-3{
        margin-bottom: 59px;
        .image{
            max-height: 537px;
        }
        img{
            width: 100%;
            height: 537px;
            object-fit: cover;
        }
    }
    .work-4-content{
        padding-left: 110px;
    }
    .work-4{
        margin-bottom: 118px;
        .col-text{
            display: flex;
            align-items: flex-end;
            padding-bottom: 298px;
        }
        .image{
            max-height: 955px;
        }
        img{
            height: 955px;
            max-width: 608px;
        }
    }
    .des-content{
        a{
            text-decoration: underline;
        }
    }
    .button-bar{
        text-align: center;
        a{
            text-decoration: underline;
        }
    }
}
.sec-tt{
    margin-bottom: 192px;
    a{
        text-decoration: underline;
    }
    .slider-content{
        max-width: 790px;
        margin-left: auto;
        margin-right: 72px;
    }
    .description{
        margin-bottom: 39px;
    }
    .title{
        position: absolute;
        top: 0;
        left: 0;
    }
    .sec-content{
        position: relative;
        padding-top: 161px;
    }
    .slick-custom{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        position: absolute;
        width: 100%;
        max-width: 862px;
        top: 0;
        right: 0;
        >*{
            position: relative;
        }
    }
}
.sec-www{
    margin-bottom: 170px;
    .title{
        margin-bottom: 51px;
    }
    .content-member{
        .image{
            max-height: 597px;
            margin-bottom: 39px;
        }
        img{
            width: 100%;
            height: 597px;
            object-fit: cover;
        }
        a{
            text-decoration: underline;
        }
    }
}

footer .super-title{
    top: -219px;
}

form{
    input{
        display: none;
    }
    button{
        background-color: transparent;
        border: none;
        text-decoration: underline;
        padding: 0;
        color: #fff;
        &:hover{
            color: #0b615f;
        }
    }
}
@media screen and (min-width: 1441px){
    .banner-image{
        max-height: initial;
        img{
            height: initial;
        }
    }
}
@media screen and (max-width: 1420px){
    .sec-our-work{
        .work-1{
            padding: 0;
        }
    }
}

@media screen and (max-width: 1199px){
    .sec-tt .slick-custom{
        width: 50%;
    }
    .sec-our-work{
        h3{
            margin-bottom: 30px;
        }
    }
    .sec-our-work .work-4-content{
        padding-left: 0;
    }
}

@media screen and (max-width: 991px){
    h1{
        margin-bottom: 30px;
    }
    .banner-content .container{
        display: block;
    }
    .sec-our-work{
        .work-1{
            margin-bottom: 48px;
            padding: 0;
        }
        .work-2{
            margin-right: -15px;
            .col-post{
                max-width: initial;
                width: 100%;
                padding: 0 15px;
            }
        }
        .work-4{
            .col-post{
                margin-bottom: 48px;
            }
            .work-4-content{
                padding-left: 0;
            }
            .col-text{
                padding-bottom: 0;
            }
        }
    }
}
@media screen and (max-width: 768px){
    .sec-contact-logo{
        display: none;
    }
    footer .super-title{
        .content{
            padding-left: 10px;
        }
    }
    .sec-www{
        margin-bottom: 406px;
    }
}
.button-scroll-mobile{
    display: none;
}
@media screen and (max-width: 575px){
    .banner-image{
        max-height: 558px;
        img{
            height: 558px;
            width: 100%;
            object-position: center;
        }
    }
    .banner-sub-title{
        line-height: 1.4;
        letter-spacing: 0.19px;
        font-size: 10px;
        max-width: 160px;
    }
    .banner-title{
        max-width: 230px;
        margin-top: 10px;
        margin-bottom: 40px;
    }
    .banner-content {
        bottom: 48px;
        .container{
            display: flex;
            flex-direction: column-reverse;
        }
    }
    .button-scroll-mobile{
        display: block;
        padding: 0;
        margin: 0;
        background-color: transparent;
        height: 15px;
        width: 15px;
        border: 3px solid #fff;
        border-top: none;
        border-left: none;
        transform: rotateZ(45deg);
    }
    .sec-welcome{
        margin-bottom: 37px;
        .title-h3{
            font-size: 10px;
            line-height: 2;
            letter-spacing: 0.19px;
            margin-bottom: 116px;
        }.description{
            font-size: 20px;
            line-height: 1.4;
            letter-spacing: 0.38px;
            max-width: 300px;
        }
    }
    .sec-our-work{
        position: relative;
        padding-top: 28px;
        padding-bottom: 67px;
        margin-bottom: 73px;
        h3{
            font-size: 10px;
            line-height: 2;
            letter-spacing: 0.19px;
        }
        h4{
            font-size: 14px;
            line-height: normal;
            letter-spacing: 0.27px;
            margin-bottom: 1px;
        }
        a{
            font-size: 10px;
            line-height: normal;
            letter-spacing: 0.19px; 
        }
        .work-content .image{
            margin-bottom: 25px;
        }
        .work-1{
            margin-bottom: 20px;
            img{
                height: 189px;
                margin-left: -10px;
            }
            h4,a{
                padding: 0;
            }
        }
        .work-2{
            flex-direction: column-reverse;
            margin-bottom: 60px;
            .col-text{
                padding-bottom: 0;
            }
            .description{
                font-size: 14px;
                line-height: 1.64;
                letter-spacing: 0.27px;
                max-width: 291px;
            }
            a{
                font-size: 14px;
                line-height: 1.64;
                letter-spacing: 0.27px;
                max-width: 291px;
            }
        }
        .work-2-content{
            max-width: 256px;
            margin: 0 -10px 67px auto;
            img{
                height: 246px;
                margin-bottom: 25px;            
            }
            h4,a{
                padding-left: 5px;
            }
        }
        .work-3{
            margin-bottom: 67px;
            img{
                height: 135px;
                margin: 0 -10px 30px;
                width: calc(100% + 20px);
            }
        }
        .work-4{
            margin-bottom: 0;
            .col-post{
                margin-bottom: 181px;
            }
            .work-4-content{
                margin-right: -10px;
                margin-left: auto;
                max-width: 246px;
            }
            img{
                height: 387px;
                margin-left: auto;
                margin-right: 0;
            }
            .description{
                font-size: 14px;
                line-height: 1.64;
                letter-spacing: 0.27px;
            }
        }
        .button-bar{
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 300px;
            a{
                font-size: 18px;
                line-height: normal;
                letter-spacing: 0.35px;
            }
        }
    }
    .sec-tt{ 
        margin-bottom: 99px;
    }
    .sec-www{
        .title{
            font-size: 10px;
        }
        .row{
            margin-left: 0;
        }
        .content-member{
            padding: 0 9px;

            .image{
                max-height: 422px;
                margin-bottom: 19px;
                img{
                    height: 422px;
                }
            }
        }
        h3,form{
            padding-left: 24px;
        }
        h3,button{
            font-family: 'Mikro-Regular',sans-serif;
            font-weight: normal;
        }
    }
    footer .super-title{
        top: -251px;
    }
}

@media screen and (min-width: 1500px){
    .banner-content{
        top: 80vh;
    }
}