$font_MB:'Mikro-Black','sans-serif';
$font_ML:'Mikro-Light','sans-serif';
$font_MR:'Mikro-Regular','sans-serif';
$font_MM:'Mikro-Medium','sans-serif';
$font_MBL:'Mikro-Bold','sans-serif';
$font_W:'GT-Walsheim','sans-serif';

// %font_W{
//     font-family: 'GT-Walsheim','sans-serif';
// }
// %font-50{font-size: 50px;}
img{max-width: 100%;}
// change color tab-menu
.header-section .menu-button::before{
    background-color: #000000;
}
.header-section .menu-button::after{
    background-color: #000000;
}
/*###*/
.banner-top{
    background-color: #ffffff;
    padding-top:288px;
    .h1-title{
        padding-left: 0;
        padding-right: 47%;
        font-family: $font_MM;
        font-size: 50px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.44;
        letter-spacing: 0.96px;
        color: #000000;
    }
    .cont-image-banner-top{
        height: 500px;
        .banner-top--bg{
            padding-top:104px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}
.our-team{
    .h4-title{
        padding-top: 69px;
        transform: rotate(-360deg);
        font-family: $font_MR;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.35px;
        color: #ffffff;

        // @extend %font-50, %font_W;
    }
    .content{
        padding-bottom: 74px;
        padding-top: 105px;
        font-family: $font_W;
        font-size: 21px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        color: #ffffff;
        padding-left: 42px;
        .description-cont{
            max-width: 487px;
        }
        .description-le{
            margin-right: 228px;
        }
        .description-chan{
            margin-top: 157px;
        }
    }
}
.our-core{
    background-color: #ffffff;
    color: #000000;

    .h4-title{
        padding-top: 95px;
        transform: rotate(-360deg);
        font-family: $font_MR;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.35px;
    }
    .our-core--list{
        padding-right: 66px;
        padding-top: 95px;
        .row{
            justify-content: flex-end;
            .description-sec-our-core p{
                max-width: 355px;
            }
        }
        .post{
            padding-bottom: 35px;
            padding-left: 41px;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: 0.31px;
            .h5-title{
                font-family: $font_MM;
            }
            .description{
                font-family: $font_W;
            }
        }
    }
}
.member{
    background-color: #ffffff;
    color: #000000;
    padding-top: 155px;
    margin: -1px 0;
    .col-left{
        max-width: 412px;
        max-height: 100px;
        .h4-title{
            padding-right: 65px;
            margin-right: -15px;
            font-family: $font_MR;
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.56;
            letter-spacing: 0.35px;
            max-height: 100px;
            max-width: 412px;
        }
    }
    //slick-slider
    .col-right{
        .slick-slider .slick-slide{
            .cont-image{
                height: 498px;
                width: 401px;
            }
        }
    }
    
    .post-main{
        .member-post{
            padding:0px;
        }
        .post-box{
            font-family: $font_W;
            font-style: normal;
            font-stretch: normal;
            margin: 0 15px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center; 
            }
            .h5-title{
                font-weight: 500;
                line-height: 1.44;
                letter-spacing: 0.35px;
                font-size: 18px;
            }
            .h5-name{
                font-weight: 500;
                color: #0b6260;
                line-height: 1.44;
                letter-spacing: 0.35px;
                font-size: 18px;
            }
            .member-description{
                font-weight: normal;
                padding:0;
                line-height: 1.57;
                letter-spacing: 0.27px;    
                transition: all .3s ease-out;
                &.show{
                    padding-top:25px;
                }
                &.show p{
                    max-width: 378px;
                }
            } 
        }
    }
    .collap-button{
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
        max-width: 401px;
        .box-btn{
            font-size: 18px;
            font-weight: 500;
            line-height: 1.44;
            letter-spacing: 0.35px;
            .btn-show{
                border: none;
                background-color: transparent;
                color: #0b6260;
                transition: all .2s linear;
                &:focus{
                    outline: none;
                    box-shadow: none; 
                }
            }
            .btn{
                border: none;
                background-color: transparent;
                color: #0b6260;
                margin-top: -4px;
                margin-right: -4px;
                &:focus{
                    outline: none; 
                    box-shadow: none; 
                }
            }
            
        }
    }

    
    .collap-button[aria-expanded="true"]{
        .btn-show{
            transform: rotateZ(45deg);
        }
    }

    .member .member-post .slick-slider .slick-prev {
        display: none;
    }
}
.banner-bot{
    padding-top: 102px;
    background-color: #ffffff;
    padding-bottom: 118px;
    color: #000000;
    .cont-image-bn{
        max-height: 709px;
        img{    
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .content{
        font-style: normal;
        font-stretch: normal;
        margin-top: 63px;
        margin-left: 477px;
        font-family: $font_W;
        .h5-title{
            font-size: 18px;
            font-weight: 600;
            line-height: 1.44;
            letter-spacing: 0.35px;
        }
        .description{
            padding-top: 25px;
            font-weight: normal;
            line-height: 1.57;
            letter-spacing: 0.27px;
            p{
                max-width: 533px;
            }
            a{
                color: #000000;
                &:focus{
                    outline: none; 
                }
                &:hover{
                    color: #0b615f;
                    a{
                        color: #0b615f;
                    }
                }
            }
        }
    }
}

.amazing{
    padding-bottom: 191px;
    font-style: normal;
    font-stretch: normal;
    .h2-title{
        margin-top: 113px;
        font-family: $font_MM;
        font-size: 34px;
        font-weight: 500;
        line-height: 1.41;
        letter-spacing: 0.65px;
        max-width: 520px;
        margin-left: 20px;
    }
    .description{ 
        font-family: $font_W;
        font-size: 21px;
        font-weight: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        p{
            max-width: 471px;
            margin-left: 630px;
            margin-top: 68px;
        }
        a{
            color: #ffffff;
            &:focus{
                outline: none; 
            }
            &:hover{
                color: #0b615f;
                a{
                    color: #0b615f;
                }
            }
        }
    }
}
//footer
.page-template-team-culture .footer-section .super-title .content{
    margin-top: 335px;
}
// @media (max-width:768px){
//     %font-50{font-size: 30px;}
// }
@media only screen and (max-width: 1440px){
    .banner-top .cont-image-banner-top{
        height: 478px;
    }
}
@media only screen and (max-width: 1279px){
    .banner-top .h1-title {
        padding-right: 37%;
    }
    .our-team .content .description-le{
        margin-right: 124px;
    }
    .member .col-right{
        .slick-slider .slick-slide{
            .cont-image{
                height: 447px;
                width: 350px;
            }
        }
    }
}

@media only screen and (max-width: 1199px){
    .banner-top .h1-title {
        padding-right: 26%;
    }
    .our-team .content .description-2 {
        padding-top: 250px;
    }
    .amazing .h2-title {
        padding-right: 0;
        margin-left: 0px;
    }
    .amazing .description p{
        margin-left: 340px;
    }
    .banner-bot .content {
        margin-left: 277px;
    }
    .our-team .content .description-le{
        margin-right: 0px;
    }
    .our-team .content .description-chan{
        margin-top: 178px;
    }
    .member .col-right{
        .slick-slider .slick-slide{
            .cont-image{
                height: 396px;
                width: 300px;
            }
        }
    }
    .our-core .our-core--list{
        padding-right: 0px;
    }
}
@media only screen and (max-width: 991px){
    .banner-top .h1-title {
        padding-right: 0;
    }
    .banner-bot .content{
        margin-left: 150px;
    }
    .our-team .content .description-chan{
        margin-top: 259px;
    }
    .our-core .our-core--list .post{
        padding-left: 0px;
    }
    .member .col-left .h4-title{
        padding-right: 0pc;
        margin-right: 0px;
    }
    .member .col-right{
        .slick-slider .slick-slide{
            .cont-image{
                height: 320px;
                width: 225px;
            }
        }
    }
    .super-title .content{
        padding-left: 0px;
    }
    .amazing .description p{
        margin-left: 230px;
    }
}
@media only screen and (max-width: 768px){
   
    .banner-bot .content{
        margin-left: 177px;
    }
    .our-core .h4-title{
        padding-top: 60px;
    }
    .our-core .our-core--list{
        padding-right: 0px;
    }
    .our-core .our-core--list{
        padding-top: 60px;
    }
    .our-core .our-core--list .post{
        padding-left: 0px;
    }
    .member .col-left .h4-title{
        padding-right: 0px;
    }
    .amazing .h2-title{
        font-size: 26px;
    }
    .our-team{  
        .h4-title{
            padding-top: 60px;
            line-height: 2;
            letter-spacing: 0.19px;
        }
        .content{
            padding-bottom: 62px;
            padding-top: 60px;
            .coll{
                display: none;
            }
            .description-1, .description-2{
                padding-left: 35px;
                font-weight: normal;
                line-height: 1.67;
                letter-spacing: 0.23px;
                color: #ffffff;
            }
            .description-2{
                padding-top: 0px;
                margin-left: 0px;
            }
        }
    }
    .member{
        padding-top: 95px;
        .member-post{
            .post-main{
                padding-top: 31px; 
            }
        }
    }
}
@media only screen and (max-width: 767px){
    .member .col-right{
        .slick-slider .slick-slide{
            .cont-image{
                height: 330px;
                width: 250px;
            }
        }
    }
}
@media only screen and (max-width: 575px){
    .member .col-right{
        .slick-slider .slick-slide{
            .cont-image{
                height: 330px;
                width: 267px;
            }
        }
    }
    .our-core .our-core--list .row .description-sec-our-core p{
        max-width: 457px;
    }
    .banner-top {
        padding-top:151px;
    }
    .our-team .content{
        padding-left: 0px;
        max-width: 100%;
    }
    .our-core .our-core--list .row {
        margin-left: 0px;
    }
    .our-core .our-core--list .row .description-sec-our-core p{
        max-width: 100%;
    }
    .banner-top .cont-image-banner-top{
        height: 240px;
    }
    .banner-top{
        .h1-title{
            padding-top: 151px;
            font-size: 24px;
            font-weight: 500;
            line-height: 1.52;
            letter-spacing: 0.4px;
            max-width: 330px;
        }
        .banner-top--bg{
            padding-top:45px;
            height: 179px;
        }
    }
    .our-team{  
        .h4-title{
            padding-top: 33px;//11111111111111111111111111111111111111111111
            font-size: 12px;
            line-height: 2;
            letter-spacing: 0.19px;
            margin-left: 0px;
        }
        .content{
            padding-bottom: 62px;
            padding-top: 36px;
            .coll{
                display: none;
            }
            .description-cont{
                font-size:14px;
                margin-top: 0px;
                margin-left: 0px;
                max-width: 100%;
            }
        }
    }
    .banner-top .h1-title{
        padding-top: 0px;
        margin-bottom: 50px;
    }
    .banner-top .cont-image-banner-top .banner-top--bg{
        padding-top:0px;
    }
    .our-core{
        .h4-title{
            padding-top: 33px;//1111111111111111111111111111111111111111111111111111111
            font-size: 12px;
            font-weight: normal;
            line-height: 2;
            letter-spacing: 0.19px;
        }
        .our-core--list{
            padding-top: 33px;
            .post{
                padding-bottom: 0px;
                .h5-title{
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 1.67;
                    letter-spacing: 0.23px;
                }
                .description{
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1.67;
                    letter-spacing: 0.23px;
                }
            }
        }
    }
    .member .col-left .h4-title{
        font-size: 12px;//1111111111111111111111111111111111111111111111111
        font-weight: normal;
        line-height: 2;
        letter-spacing: 0.19px;
    }
    .member{
        padding-top: 41px;
        .member-post{
            padding-left: 15px;
            .post-main{
                padding-top: 31px; 
                display: block;
                margin-left: 10px;
                .post-box{
                    margin: 0 4px;
                    img{
                        width: 100%;
                    }
                    .h5-title{
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 1.44;
                        letter-spacing: 0.35px;
                    }
                    .h5-name{
                        color: #0b6260;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 1.44;
                        letter-spacing: 0.35px;
                    }
                    .member-description{
                        padding-top: 24px;
                        font-size: 12px;
                        font-weight: normal;
                        line-height: 1.67;
                        letter-spacing: 0.23px;
                    }
                }
                ul.slick-dots{
                    display: flex;
                    width: 100%;
                    padding-left: 0;
                    justify-content: center;
                    list-style: none;
                    li{
                        margin: 0 5px;
                    }
                    button{
                        border-radius: 8px;
                        background-color: #000000;
                        border-radius: 50%;
                        width: 10px;
                        height: 10px;
                        border: none;
                        font-size: 0;
                        padding: 0;
                        &:focus{
                            outline: none; 
                        }
                        &:hover{
                            background-color:  #0a5e5d; 
                            button{
                                background-color:  #000000;
                            }
                        }
                    }
                }
                .slick-dots .slick-active button {
                    background-color: #0a5e5d;
                }
            }
            .collap-button{
                padding-top: 24px;
            }
        }
    }
    .banner-bot{
        padding-top: 42px;
        padding-bottom: 85px;
        .content{
            padding-top: 0px;
            margin-left: 0;
            margin-top: 42px;
            .h5-title{
                font-size: 14px;
                font-weight: 500;
                line-height: 1.64;
                letter-spacing: 0.27px;
            }
            .description{
                font-size: 14px;
                font-weight: normal;
                line-height: 1.67;
                letter-spacing: 0.23px;
                max-width: 310px;
            }
        }
    }
    .amazing{
        padding-bottom: 0px;
        .h2-title{
            padding-top: 0px;
            margin-top: 74px;
            font-size: 22px;//11111111111111111111111111111111111111
            font-weight: 500;
            line-height: 1.56;
            letter-spacing: 0.35px;
            max-width: 310px;
        }
        .description{
            font-size: 14px;
            font-weight: normal;
            line-height: 1.67;
            letter-spacing: 0.23px;    
            p{
                max-width: 310px;
                margin-left: 170px;
            }      
        }
    }
    .banner-bot .content .description{
        max-width: 100%;
    }
    .banner-bot .content .h5-title{
        font-weight: 600;
    }
    .member .member-post .post-main .post-box .member-description{
        font-size: 14px;
    }
}
@media only screen and (max-width: 430px){
    .member .col-right{
        .slick-slider .slick-slide{
            .cont-image{
                height: 457px;
                width: 365px;
            }
        }
    }
    .banner-top .cont-image-banner-top{
        height: 179px;
    }
    .banner-bot .cont-image-bn{
        height: 180px;
    }
    .our-team .h4-title{
        margin-left: 0px;
    }
    .our-team .content{
        max-width: 100%;
    }
    .amazing .description p{
        margin-left: 90px;
    }
}
@media only screen and (max-width: 415px){
    .member .col-right{
        .slick-slider .slick-slide{
            .cont-image{
                height: 457px;
                width: 355px;
            }
        }
    }
    .member .collap-button{
        max-width: 345px;
    }
}
@media only screen and (max-width: 411px){
    .member .col-right{
        .slick-slider .slick-slide{
            .cont-image{
                height: 457px;
                width: 345px;
            }
        }
    }
}

@media only screen and (max-width: 375px){
    .member .col-right{
        .slick-slider .slick-slide{
            .cont-image{
                height: 398px;
                width: 320px;
            }
        }
    }
    //title-header
    .banner-top .h1-title{
        font-size: 21px;
        max-width: 310px;
    }
    //title--main-page
    .our-team .h4-title, .our-core .h4-title, .member .col-left .h4-title{
        font-size: 10px;
    }
    //description--main-page
    .our-team .content .description-cont, .our-core .our-core--list .post .description, 
    .banner-bot .content .description,  .member .member-post .post-main .post-box .member-description, .amazing .description{
        font-size: 12px;
    }
    .amazing .description p {
        margin-left: 40px;
    }
    .amazing .h2-title{
        font-size: 18px;
    }
}
@media only screen and (max-width: 360px){
    .member .col-right{
        .slick-slider .slick-slide{
            .cont-image{
                height: 384px;
                width: 309px;
            }
        }
    }
    .member .post-main .post-box .member-description.show p{
        max-width: 309px;
    }
}
@media only screen and (max-width: 320px){
    .member .col-right{
        .slick-slider .slick-slide{
            .cont-image{
                height: 330px;
                width: 270px;
            }
        }
    }
    .banner-top .h1-title {
        padding-right: 0px;
    }
    .member .h4-title {
        padding-right: 0;}
}
//footer
@media only screen and (max-width: 991px){
    .super-title .title, .super-title .add-link {
        font-size: 39px;
    }
}
@media only screen and (max-width: 768px){
    .super-title .title, .super-title .add-link {
        font-size: 35px;
    }
}
@media screen and (max-width: 575px){
    .page-template-team-culture .footer-section .super-title .content{
        margin-top: 0px;
        padding-left: 0;
        margin-left:10px;
    } 
    .page-template-team-culture .super-title .sub-title{
        font-size: 12px;//11111111111111111111

    }
    .super-title .title{
        font-size: 24px;
        margin-top: 18px;
        line-height: 35px;
        max-width: 310px;
    }
    .super-title .add-link{
        font-size: 24px;
        line-height: 35px;
        max-width: 310px;
        margin-top: -10px;
    }
    .footer-main{
        padding-top:420px;
    }

}