body {
  background-color: #fff; }

input {
  display: none; }

.header-section .menu-button::before, .header-section .menu-button::after {
  background-color: #000; }

footer .super-title {
  top: 713px; }
  footer .super-title .sub-title,
  footer .super-title .title,
  footer .super-title .add-link {
    color: #000; }

.banner-top {
  padding-top: 288px;
  margin-bottom: 111px; }

h1 {
  max-width: 986px; }

.sec-instagram {
  margin-bottom: 154px; }
  .sec-instagram h4 {
    margin-bottom: 167px; }

.sec-post h4 {
  margin-bottom: 159px; }

.post-container {
  margin: 0 -22px 159px -22px; }

.post-member {
  padding: 0 22px;
  margin-bottom: 164px;
  overflow: hidden;
  margin-top: -95px; }
  .post-member:nth-child(2n) {
    margin-top: 0;
    margin-bottom: 70px; }
  .post-member img {
    width: 100%;
    height: 426px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    margin-bottom: 37px; }
  .post-member .image {
    overflow: hidden; }
  .post-member h5 {
    margin-bottom: 38px; }
  .post-member .description {
    margin-bottom: 12px;
    max-width: 503px; }
  .post-member a {
    text-decoration: underline;
    color: #000; }
    .post-member a:hover {
      color: #0b615f; }

.nav-post-page {
  text-align: center;
  position: relative;
  z-index: 10; }
  .nav-post-page button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0; }
    .nav-post-page button:first-child {
      margin-right: 115px; }
    .nav-post-page button:last-child {
      margin-left: 115px; }
    .nav-post-page button.active {
      color: #0b615f;
      -webkit-transition: all .3s linear;
      transition: all .3s linear;
      text-shadow: 0 0 10px #0b615f, 0 0 15px #0b615f,0 0 15px #0b615f,0 0 20px #0b615f; }

footer {
  margin-top: -271px; }

#sb_instagram #sbi_images {
  margin: 0;
  padding: 0 !important; }
  #sb_instagram #sbi_images .sbi_item {
    padding: 16.4px !important;
    margin-top: -98px !important; }
    #sb_instagram #sbi_images .sbi_item:nth-child(2n) {
      margin-top: 0 !important; }
    #sb_instagram #sbi_images .sbi_item:first-child {
      padding-left: 0 !important; }
    #sb_instagram #sbi_images .sbi_item:nth-child(4n) {
      padding-right: 0 !important; }
    #sb_instagram #sbi_images .sbi_item:nth-child(4n + 1) {
      padding-left: 0 !important; }

.sb_instagram_header {
  display: none; }

@media screen and (max-width: 1199px) {
  #sb_instagram #sbi_images .sbi_item {
    padding: 5px !important;
    margin-top: -50px !important; } }
@media screen and (max-width: 991px) {
  .post-member img {
    height: 323px; }

  #sb_instagram.sbi_col_4 #sbi_images .sbi_item {
    width: 33.333333%; }

  #sb_instagram {
    margin-left: -5px;
    margin-right: -5px; }

  #sb_instagram #sbi_images .sbi_item {
    padding: 5px !important; }
    #sb_instagram #sbi_images .sbi_item:nth-child(2n) {
      margin-top: -50px !important; }
    #sb_instagram #sbi_images .sbi_item:nth-child(3n -1) {
      margin-top: 0 !important; }
    #sb_instagram #sbi_images .sbi_item:first-child {
      padding-left: 5px !important; }
    #sb_instagram #sbi_images .sbi_item:nth-child(4n) {
      padding-right: 5px !important; }
    #sb_instagram #sbi_images .sbi_item:nth-child(4n + 1) {
      padding-left: 5px !important; } }
.sec-instagram .slider-dots {
  display: none; }

.load-more-mobile {
  display: none; }

@media screen and (max-width: 575px) {
  #sb_instagram #sbi_images .sbi_item:nth-child(2n) {
    margin-top: 0 !important; }

  #sb_instagram #sbi_images .sbi_item {
    margin-top: 0 !important; }

  #sb_instagram.sbi_col_4 #sbi_images .sbi_item {
    width: 100%; }

  .post-container {
    margin-left: -15px;
    margin-right: -15px; }
    .post-container .post-member {
      padding: 0 15px; }

  #sb_instagram {
    margin: 0; }

  .banner-top {
    padding-top: 151px;
    margin-bottom: 40px; }
    .banner-top h1 {
      font-size: 21px;
      line-height: 1.52;
      letter-spacing: 0.4px;
      padding-left: 12px; }

  .sec-instagram {
    margin-bottom: 59px; }
    .sec-instagram h4 {
      margin-bottom: 28px;
      font-size: 10px;
      line-height: 2;
      letter-spacing: 0.19px;
      padding-left: 12px; }

  .sec-post {
    margin-bottom: 190px; }
    .sec-post h4 {
      font-size: 10px;
      line-height: 2;
      letter-spacing: 0.19px;
      margin-bottom: 22px; }
    .sec-post .post-member {
      margin-bottom: 5px;
      margin-top: 0; }
    .sec-post img {
      height: 219px;
      margin-bottom: 29px; }
    .sec-post h5 {
      font-size: 14px;
      line-height: 1.64;
      letter-spacing: 0.27px;
      margin-bottom: 24px;
      padding: 0 10px; }
    .sec-post p {
      font-size: 12px;
      line-height: 1.67;
      letter-spacing: 0.23px;
      margin-bottom: 21px;
      padding: 0 10px; }
    .sec-post a {
      font-size: 10px;
      line-height: normal;
      letter-spacing: 0.19px;
      padding: 0 10px; }
    .sec-post nav {
      display: none; }

  .sec-instagram .slider-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }

  ul.slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
    ul.slick-dots li {
      opacity: 1;
      visibility: visible;
      position: relative;
      padding: 0 5px; }
      ul.slick-dots li.slick-active button {
        background-color: #0a5e5d;
        opacity: 1; }
    ul.slick-dots button {
      font-size: 0;
      width: 8px;
      height: 8px;
      background-color: #000;
      opacity: 0.5;
      padding: 0;
      margin: 0;
      border: none;
      border-radius: 50%; }

  .post-container {
    margin-bottom: 65px; }

  .load-more-mobile {
    padding: 0;
    background: transparent;
    border: none;
    font-size: 12px;
    line-height: normal;
    letter-spacing: 0.23px;
    border-bottom: 1px solid #000;
    display: block;
    margin: 0 auto; }

  footer {
    margin-top: 0; }

  footer .super-title {
    top: -100px; }
    footer .super-title .content {
      padding-left: 10px; }
    footer .super-title .sub-title {
      margin-bottom: 32px; }
    footer .super-title .title,
    footer .super-title .add-link {
      font-size: 24px;
      line-height: 1.46;
      letter-spacing: 0.46px; } }
